body {
    background-color: grey;
}
h1 {
    color: white;
    margin-left: 15px;
    font-size: larger;
}
div {
    background-color: orange;
    height: 100px;
    width: 100px;
    margin-bottom: 10px;
    margin-left: 20px;
}