body{
    background-color: lightskyblue;
}
h1{
    background-color: limegreen;
}
#p1{
    background-color: olive;
}
h2{
    background-color: mediumorchid;
}
#p2{
    background-color: mediumturquoise;
}
ul{
    background-color: palegreen;
}